includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - tests
    excludePaths:
        - vendor
    level: 6
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static#'